@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.preview-mobile * {
  --tw: 0;
}

.preview-mobile sm\:*, 
.preview-mobile md\:*, 
.preview-mobile lg\:* {
  all: unset !important;
}